* {
    font-size: 30px;
    font-family: monospace;
}

body{
    background:linear-gradient(rgba(255,69,0,0.5), rgba(255,69,0,0.5)), url("https://i.pinimg.com/originals/ae/78/df/ae78df1ec46fe622dd0d3de6907fbe74.gif");
    background-size: cover;
    padding: 30px;
}
.flipper-page{
    background-color: #EEEEEE66;
    padding: 30px;
    margin: 50px, 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}
.flipper-image{
    display: inline;
    border: 10px solid #66666666;
}
.flipper-name{
    display: inline-block;
}
.flipper-link{
    display: block;
    font-weight: bold;
}
.flipper-desc{
    grid-column-start: 2;
    grid-column-end: 6;
}
input{
    padding: 10px;
    background-color: #EEEEEE66;
    border: none;
    outline: none;
}
input:active{
    border: none;
    outline: none;
}
button{
    border-radius: 5px;
    background-color: #AAAAAA66;
    border: none;
    padding: 10px;
    transition: background-color .3s ease;
}
button:hover{
    background-color: #EEEEEE66;
    cursor: pointer;
}
#donate{
    background-color: #EEEEEE66;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    width: 20%;
    font-size: 16px !important;
    opacity: 25%;
    z-index: 100;
    transition: opacity .3s ease;
}
#donate:hover{
    opacity: 100%;
}